.image-dashboard {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.dashboard {
  display:  grid;
  grid-template-columns: 1fr 2fr;
}

.profile-info {
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  text-align: center;
  border: solid #DEE8F7 2px;
  position: sticky;
  top: 0;
  height: 800px;
}

.profile-info h2 {
  margin: 30px auto 30px auto;
}

.appointments {
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
}

.appointments h4 {
  margin: 0px 10px 20px 0px;
  padding: 0px 0px 10px 0px;
  border-bottom: solid $lightblue 3px;
}

.request-info {
  width: 600px;
  font-size: large;
  margin: auto auto auto 5px;

}

.request-buttons {
  display: flex;
}

.accept-button {
  color: white;
  background-color: $mainblue;
  padding: 8px 50px;
  margin: 5px 5px 5px 5px;
  border: none;
  border-radius: 10px;
}

.decline-button {
  color: white;
  background-color: $mainblue;
  padding: 8px 50px;
  margin: 5px 5px 5px 5px;
  border: none;
  border-radius: 10px;
}

.accept-button:hover {
  background-color: white ;
  color: $darkblue;
  border: solid 2px $darkblue ;
}

.decline-button:hover {
  background-color: rgb(119, 25, 25);
  color: white;
}



.request-section {
  background: rgba(222, 232, 247, 0.4) ;
  border-radius: 10px;
  padding: 10px;
  margin: 25px auto;
}

.message-and-review {
  // display: flex;
  // justify-content: space-between;
  padding: 10px;
  margin: 15px auto;
  border-radius: 5px;
  border: solid 3px $lightblue;
}

.image-appointment {
  border-radius: 50%;
  height: 90px;
  width: 90px;
  margin: 10px 5px 10px 10px;
}

.upcoming {
  display: flex;
}

.text-upcoming {
  margin: 18px 80px 10px 20px;
}

.chat-button {
  margin: 30px 0px 0px 0px;
}

#chat-button-future:hover {
  background-color: white ;
  color: $darkblue;
  border: solid 2px §darkblue;
}

#review-button {
  margin: 20px;
  background-color: $mainblue;
  color: white;
  border: solid 1px white;
}

#review-button:hover {
  background-color: white;
  color: $darkblue;
  border: solid 1px $darkblue;
}

.pending-request {
  border-left: $lightblue solid 5px;
  border-bottom: $lightblue solid 2px;
  padding: 20px;
  background-color: white ;
  margin: 10px 0px 0px 0px;
}

#past-appointment .image-appointment {
  filter: brightness(50%);
}

#past-appointment {
  background-color: rgba(222, 232, 247, 0.2);
  border: solid 3px $lightblue;
}

#chat-button-past{
  margin: 30px 0px 0px 114px;
  background-color: $mainblue;
  color: white;
  border-color: $mainblue;
}

#chat-button-past:hover {
  background-color: $white;
  color: $darkblue;
  border-color: $darkblue;
}

.fa-check {
  color: green;
  font-size: x-large;

}

.comment-and-rating {
  margin: 30px 0px 0px 0px;
}
