.image-dashboard {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.dashboard {
  display:  grid;
  grid-template-columns: 1fr 2fr;
}

.profile-info {
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  text-align: center;
  border: solid #DEE8F7 1px;
}

.profile-info h2 {
  margin: 30px auto 30px auto;
}

.appointments {
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  border: solid #DEE8F7 1px;
}

.request-info {
  width: 600px;
  font-size: large;
  margin: auto auto auto 5px;

}

.request-buttons {
  display: flex;
}

.accept-button {
  color: white;
  background-color: $mainblue;
  padding: 8px 50px;
  margin: 5px 5px 5px 5px;
  border: none;
  border-radius: 10px;
}

.decline-button {
  color: white;
  background-color: $mainblue;
  padding: 8px 50px;
  margin: 5px 5px 5px 5px;
  border: none;
  border-radius: 10px;
}

.accept-button:hover {
  background-color: rgb(16, 97, 16);
  color: white;
}

.decline-button:hover {
  background-color: rgb(119, 25, 25);
  color: white;
}



.request-section {
  background: rgba(222, 232, 247, 0.4) ;
  border-radius: 10px;
  padding: 10px;
  margin: 25px auto;
}

.message-and-review {
  // display: flex;
  // justify-content: space-between;
  padding: 10px;
  margin: 15px auto;
  background-color: $lightblue;
  border-radius: 5px;
}

.image-appointment {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  margin: 10px 5px 10px 10px;
}

.upcoming {
  display: flex;
}

.text-upcoming {
  margin: 18px 80px 10px 20px;
}

.chat-button {
  margin: 30px 0px 0px 0px;
}

#review-button {
  margin: 20px;
}
