// Specific CSS for your home-page
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  background-color: #081121;
  color: #fff;

h1, p{
  color: white;
  // font-family: 'quicksand';
}
}

h1{
  margin-bottom: 30px;
}

.blue-btn {
  background-color: #2D63C4;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  // font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

.white-btn {
  background-color: #fff;
  color: #2D63C4;
  padding: 10px 20px;
  border-radius: 10px;
  // font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

.btn {
  margin-top: 30px;
  margin-right: 10px;
  display: inline-block;
  width: 250px;
  text-align: center;
  height: 50px;
}

.blue-btn:hover {
  background-color: #fff;
  color: #2D63C4;
}

.white-btn:hover {
  background-color: #2D63C4;
  color: #fff;
}


.cards {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  // font-family: 'quicksand';
}

.card-category {
  border: 2px solid #2D63C4;
  background-color: white;
  padding: 20px;
  width: calc(33.33% - 10px);
  margin-right: 10px;
  color: #081121;
  border-radius: 5px;
  background-size: cover;


  h3, p {
    text-align: center;
    color: #081121;
  }

}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
