h2, p {
  color: black;
}

.btn3 {
    width: 250px;
    height: 39px;
    color: white;
    margin-left: 8px;
    background-color: #2D63C4;
    border-radius: 10px;
    border: #2D63C4;
  }

  #btn5 {
    color: white;
    margin: 15px;
    background-color: #2D63C4;
    border-radius: 10px;
    border: #2D63C4;
    padding: 15px;
  }
