<% unless @reviews.empty? %>
  <% rating_average = 0 %>
  <% @reviews.each do |review| %>
    <%rating_average += review.rating %>
  <% end %>
  <p>Average rating: <%= rating_average.to_f / @reviews.size %></p>
    <% @reviews.each do |review| %>
        <div class="comment-and-rating">
        <p><strong><%= review.comment %> </strong> <em>by <%= review.user.name %> </em></p>
        <p><% review.rating.times do %>
          <span>⭐️</span>
        <% end %></p>
        </div>
    <% end %>
  <% else %>
  <p> <em>You don't have any reviews yet! </em></p>
<% end %>
