<div class="container">
  <div class="cards">
    <div class="row border border-2" style="min-height: 160px">
      <div class="col-2 border border-primary rounded-3 shadow mx-auto">
        <p><%= current_user.name %></p>
        <img src="https://res.cloudinary.com/dxrk5d6qu/image/upload/v1678199508/paperw%C3%B6rker/profile%20pictures/Luca_dwzaly.jpg" class="rounded-circle img-fluid img-thumbnail " >
      </div> <!-- Take 4 columns -->
      <div class="col-8 border border-primary rounded-3 shadow mx-auto">
        <p>About me</p>
        <p>Hi I'm Luca, a web developer passionate about creating engaging and dynamic websites. In my free time, I love to go for a run and explore new trails. Helping people is important to me, and I always try to find ways to give back to my community. And, of course, I can never resist a good bowl of muesli!</p>
      </div> <!-- Take 8 columns -->
    </div>

    <div class="row border border-2" style="min-height: 160px">
      <div class="col-8 border border-primary rounded-3 shadow mx-auto">
        <p>Upcoming Events</p>
      </div>
    </div>

    <div class="row border border-2" style="min-height: 160px" >
      <div class="col-8 border border-primary rounded-3 shadow mx-auto">
        <div class="py-auto">
          <p>Messages</p>
        </div>
      </div>
    </div>

  </div>
</div>
