
  <div class="banner">
    <div class="container text-center">
      <h1>New in Germany and a bit Lost?</h1>
      <p> Helping Immigrants with their exciting new life in Germany</p>
      <%= link_to "Become a Paperwörker", "#", class: "btn btn-flat blue-btn" %>
      <%= link_to "Immigrant looking for help", "#", class: "btn btn-primary white-btn" %>

    </div>
  </div>

<div class="cards">
  <div class="card-category">
    <h3 class="mt-3 text-lg font-bold sm:text-xl">
      Legal
    </h3>

    <p class="mt-4 text-sm text-gray-300">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio eius labore
      nisi tempore modi vel voluptate ullam nostrum adipisci suscipit eaque quae
      cupiditate, accusamus minus laboriosam totam laborum, deserunt sint.
    </p>
    </div>

  <div class="card-category">
    <h3 class="mt-3 text-lg font-bold sm:text-xl">
      Translation
    </h3>

    <p class="mt-4 text-sm text-gray-300">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio eius labore
      nisi tempore modi vel voluptate ullam nostrum adipisci suscipit eaque quae
      cupiditate, accusamus minus laboriosam totam laborum, deserunt sint.
    </p>
    </div>

  <div class="card-category">
    <h3 class="mt-3 text-lg font-bold sm:text-xl">
      Appointment
    </h3>

    <p class="mt-4 text-sm text-gray-300">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio eius labore
      nisi tempore modi vel voluptate ullam nostrum adipisci suscipit eaque quae
      cupiditate, accusamus minus laboriosam totam laborum, deserunt sint.
    </p>
  </div>
</div>
