
  <div class="banner">
    <div class="container text-center">
      <%# <%= image_tag "backgroundimg "  %> 
      <h1>New in Germany and a bit Lost?</h1>
      <p> Helping Immigrants with their exciting new life in Germany</p>
      <%= link_to "Become a Paperwörker", users_path, class: "btn btn-flat blue-btn" %>
      <%= link_to "Immigrant looking for help", users_path, class: "btn btn-primary white-btn" %>

    </div>
  </div>

<div class="cards">
  <div class="card-category">
    <div class="text-center">
      <i class="fa-solid fa-scale-balanced fa-3x"> </i>
    </div>
    <h3 class="mt-3 text-lg font-bold sm:text-xl">
      Legal
    </h3>

    <p class="mt-4 text-sm text-gray-300">
      Providing guidance on legal procedures and requirements.
      The service is designed to help immigrants overcome language barriers and ensure that they can access legal advice.
    </p>
    </div>

  <div class="card-category">
    <div class="text-center">
      <i class="fa-regular fa-calendar-check fa-3x"> </i>
    </div>
    <h3 class="mt-3 text-lg font-bold sm:text-xl">
      Appointment
    </h3>

    <p class="mt-4 text-sm text-gray-300">
      This service provides bilingual volunteers who can accompany immigrants to various types of government appointments,
      such as meetings with social workers, doctors, or immigration officials.
    </p>
    </div>

  <div class="card-category">
    <div class="text-center">
      <i class="fa-solid fa-language fa-3x"> </i>
    </div>
    <h3 class="mt-3 text-lg font-bold sm:text-xl">
      Translation
    </h3>

    <p class="mt-4 text-sm text-gray-300">
    Providing help with any documents translation.
    The volunteers can ensure that the translation is accurate and complete, and can provide guidance on any legal or technical requirements that may be relevant to the document.
    </p>
  </div>
</div>
