.container {
  max-width: 1300px;
  margin: 20px auto;
}

.paperworkers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.paperworkers a {
  text-decoration: none;
}

.card-event {
  overflow: hidden;
  background: white;
  margin: 10px;
  border-radius: 20px;;
  height: 450px;
  width: 350px;
  border: solid #DEE8F7 3px;

}

#card-event-id:hover {
  // transform: scale(1.1);
  border: solid $darkblue 3px;
  color: $darkblue;

}


.card-event h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-decoration: none;
  font-size: larger;
}

.card-event p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  text-decoration: none;
  font-size: medium;
  color: $darkblue;
}


.card-event .card-event-infos {
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  margin: auto auto auto 20px;

}

.card-event .card-event-headline {
  padding: 15px 10px 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;

}



.card-event .card-event-infos a {
  text-decoration: none;
}

.profile-image {
  border-radius: 50%;
  margin: 5px;
  height: 150px;
  width: 150px;
  object-fit: cover;
}

.card-image-headline {
  display: flex;
  justify-content: space-around;
  margin: 10px 5px 5px 5px;
}

#name {
  margin: 70px 10px 10px 10px;
}
