.container {
  max-width: 1200px;
  margin: 20px auto;
  font-family: 'Sarabun', sans-serif;
}

.paperworkers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.paperworkers a {
  text-decoration: none;
}

.card-event {
  overflow: hidden;
  background: white;
  margin: 15px auto;
  border-radius: 20px;;
  height: 520px;
  width: 340px;
  border: solid white 3px;
  position: relative;
  background-color: #EFF4FB;

}

#card-event-id:hover {
  // transform: scale(1.1);
  color: $darkblue;
  background-color: rgba(222, 232, 247, 0.8)

}


.card-event h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-decoration: none;
  font-size: larger;
}

.card-event p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  text-decoration: none;
  font-size: medium;
  color: $darkblue;
}


.card-event .card-district-infos {
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  margin: 10px auto 5px 30px;
}


.card-event .card-services-infos {
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  margin: 0px auto 5px 30px;
}

.card-event .card-event-headline {
  text-align: center;

}



.card-event .card-event-infos a {
  text-decoration: none;
}

.profile-image {
  // border-radius: 50%;
  margin: 10px;
  height: 310px;
  width: 310px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px
}

.card-image-headline {
  display: flex;
  justify-content: space-around;
  margin: 10px 5px 5px 5px;
}

#name {
  background-color: white;
  padding: 5px 15px;
  border-radius: 5px;
  width: auto;
  margin: 10px 10px 10px 0px;
  position: absolute;
  top: 293px;
  left: 30px;
  // border: solid 1px $darkblue;
}

#rate{
  background-color: white;
  opacity: 0.7;
  padding: 5px 15px;
  border-radius: 5px;
  width: 100px;
  margin: 10px 10px 10px 50px;
  position: absolute;
  top: 8px;
  left: 160px;
  text-align: center;
}



.language-tags {
  display: flex;
  justify-content: flex-start;
  margin: 20px 0px 0px 30px;
}
#language {
  padding: 5px 10px;
  background-color: white;
  margin: 5px;
  border-radius: 10px;


}
