.footer {
  background: $mainblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto auto auto;
  padding: 20px 50px;
  color: white;
  width:100%;
  height:100px;
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: white;
  opacity: 0.3;
  text-decoration: none;
  font-size: 24px;
  font-weight: 40px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}

.footer-copyright {
  font-family: $main-font;
}

.fa-file-contract {
  color: white;
}

.footer-copyright p {
  color: white;
  font-weight: bolder;
}
