.navbar-lewagon {
  justify-content: space-evenly;
  background: white;
  border-bottom: solid $mainblue 3px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;

}

.navbar-lewagon .navbar-brand img {
  width: 300px;
}

.nav-link {
  font-size: 17px;
  margin-right: 15px;
}

.avatar-profile {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-left: 15px;
}

#navbarSupportedContent {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.current-user {
  font-size: 17px;
}
