.navbar-lewagon {
  justify-content: space-evenly;
  background: white;
  border-bottom: solid $mainblue 3px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;

}

.navbar-lewagon .navbar-brand img {
  width: 300px;
}

.nav-link {
  font-size: 16px;
}
