// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "flatpickr/dist/flatpickr.css";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/navbar";
@import "components/footer";
@import "components/card";
@import "components/filter";
@import "components/calender";
@import "star-rating.js/dist/star-rating.css";


body {
  position: relative;
  min-height: 100vh;
  color: $darkblue;
  background-color: rgba(255,255,255, 0.3);
}

.min-height {
  min-height: 80vh;
}

p,h1,h2,h3,h4,h5,h6{
  color: #081121;
  font-family: 'Sarabun', sans-serif;
}
